:root{
    --color-blue: #214479;
    --color-light-blue: #21457D;
    --color-dark-blue: #23416E;
    --color-lighter-blue: #43679F;
    --color-green: #2BC48B;
    --color-yellow: #FCB813;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-soft-blue: #D4E1F4;
}

/* general styles */
.container{
    max-width: 1100px;
    margin: auto;
}
.container_full{
    width: 100%;
}
.bg-yellow{
    position: relative;
}
.bg-yellow::after{
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: .42em;
    left: 0;
    background-color: var(--color-yellow);
}
#bg-yellow-text{
    position: relative;
    z-index: 1;
}
.d-flex{
    display: flex!important;
}
.step_actived{
    color: var(--color-yellow)!important;
}
.step_actived::before{
    border: 1px solid var(--color-yellow)!important;
    background-color: var(--color-yellow);
}
.modal_open {
    overflow: hidden;
}
.btn_blue_theme{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    width: 350px;
}
.w-100{
    width: 100%!important;
}
.b-1{
    border: 1px solid;
}
.cursor-pointer{
    cursor: pointer;
}
.title_simulador{
    width: 100%;
    font-size: 2.2em;
    font-weight: 500;
    color: var(--color-blue);
}
.subtitle_gray{
    font-size: 1em;
    color: #888888;
}
.input_simple{
    border: 1px solid var(--color-soft-blue);
    border-radius: 6px;
    padding: 8px;
    max-width: 350px;
    display: flex;
    margin: 10px 0;
    color: #888;
}
.input_simple input{
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 1.1em;
    color: #343434;
}
.square{
    width: 330px;
    height: 270px;
    border: 1px solid var(--color-soft-blue);
    background-color: var(--color-soft-blue);
    border-radius: 10px;
}
/* general styles */

/* header */
header.header{
    display: block;
    background-color: var(--color-white);
}
.header_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.header_logo{
    max-width: 180px;
}
.header_logo a img{
    width: 100%;
}
.header_right{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.header_menu .menu_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.menu_list li{
    padding: 4px 20px;
}
.menu_list li a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color-light-blue);
    text-transform: uppercase;
}
.header_cta{
    display: flex;
    align-items: center;
}

.cta_whatsapp{
    display: block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-green);
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    text-transform: uppercase;
    transition: all .23s;
}
.cta_whatsapp:hover{
    transform: scale(1.05);
}
.text_blue{
    width: 100%;
    font-size: 1.4em;
    font-weight: 400;
    color: var(--color-blue);
    display: block;
}
/* header */



.section_hero{
    background-image: linear-gradient(to right, var(--color-lighter-blue), var(--color-dark-blue));    
}
.hero_content{
    display: flex;
    flex-wrap: wrap;
}
.hero_left, .hero_right{
    flex-basis: 50%;
}
.hero_left{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--color-white);
}
.hero_left_content h1{
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 10px 0;
}
.hero_right img{
    height: 100%;
    image-rendering: -webkit-optimize-contrast;
}
.hero_left_content p{
    font-size: 1.2em;
    font-weight: 500;
    width: 70%;
}

.btn_simulador{
    color: var(--color-white);
    font-size: 1.5em;
    font-weight: 500;
    background-color: var(--color-green);
    border: none;
    border-radius: 4px;
    padding: 15px 60px;
    margin: 20px 0;
    cursor: pointer;
    transition: all .3s;
}


.sim_content{
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
}
.sim_left, .sim_right{
    flex-basis: 50%;
}
.sim_left{
    display: flex;
}
.sim_left h2{
    width: 70%;
    margin: auto;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.2em;
    color: var(--color-blue);
}
.sim_right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_sim{
    margin: auto;
    display: flex;
    align-content: center;
    border: 1px solid var(--color-dark-blue);
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
}
.form_sim label{
    padding: 0 5px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #555;
}
.form_sim input{
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 4px;
}
.form_sim .btn_sim{
    background-color: var(--color-dark-blue);
    border: none;
    font-size: 1.2em;
    color: var(--color-white);
    padding: 2px 15px;
    cursor: pointer;
}
.form_group{
    display: flex;
}
.menu-toggle{
    display: none;
}


/* simulador */
.modal_board{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(10, 10, 10, .9);
    opacity: 0;
    z-index: 100;
    transition: opacity .3s;
}

.modal_board_open{
    display: block;
    align-items: flex-start;
    width: 100%;
    opacity: 1;
    overflow: auto;
}
.board_simulador{
    position: relative;
    display: none;
    background-color: var(--color-white);
    max-width: 1300px;
    margin: 0 auto;
    min-height: 600px;
    opacity: 0;
    z-index: 1000;
    transition: all .23s;
}
.board_simulador_open{
    width: auto;
    opacity: 1;
    margin: 40px auto;
}
.board_simulador_content{
    width: 100%;
    display: flex;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.img_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}
.simulador_left{
    width: 28%;
    display: flex;
    align-items: flex-end;
}
.simulador_left img{
    z-index: 1;
    width: 90%;
}
.simulador_right{
    width: 72%;
    padding: 40px 40px 20px 20px;
}
.top_steps{
    position: absolute;
    top: 0;
    right: 0;
}
.top_steps .steps{
    list-style: none;
    display: flex;
    flex: flex;
    padding: 20px 40px 0;
}
.top_steps .steps li{
    padding: 4px 10px;
    margin: 0 5px;
    position: relative;
    color: #bbb;
    font-weight: 600;
}
.top_steps .steps li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    border: 1px solid #bbb;
}


/* simulador steps */

/* first step */
.first_step{
    display: block;
    height: 92%;
}
.first_step_top{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.first_step_bottom{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
}
.first_step_bottom_left, .first_step_bottom_right{
    flex-basis: 50%;
    display: flex;
}
.first_step_bottom_left{
    align-items: center;
}
.first_step_bottom_right{
    align-items: center;
    justify-content: flex-end;
}
.text-gray{
    color: #999;
}
.simulador_copy{
    border-top: 1px solid #999;
    padding: 10px 0;
}
.first_step_top_left, .first_step_top_right{
    height: 100%;
    flex-basis: 50%;
}
.first_step_top_right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.first_step_header{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}
.first_step_header::before{
    content: "";
    width: 30px;
    height: 4px;
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 4px;
    position: absolute;
    top: 5px;
    left: 0;
}
.first_step_input_group{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
/* simulador steps */

.help_float{
    position: absolute;
    left: 0;
    bottom: 80px;
    padding: 10px 20px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px #333333;
    font-size: 1em;
    z-index: 10;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .23s;
}
.help_float i{
    font-size: 2em;
    margin-right: 8px;
}
.help_float:hover{
    transform: scaleX(1.09);
    transform-origin: 0;
}
/* simulador */


@media(max-width: 1024px){
    .header_logo{
        width: 120px;
    }
    .header_right{
        width: 100%;
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        transition: all .23s;
        justify-content: flex-start;
    }
    .header_menu{
        width: 100%;
        display: block;
    }
    .menu_list{
        width: 100%;
    }
    .menu_list li{
        width: 100%;
    }
    .header_cta{
        display: block;
    }
    .menu-toggle{
        width: 48px;
        height: 48px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        cursor: pointer;
    }
    .menu-toggle .rec{
        width: 100%;
        height: calc(15% - 4px);
        margin: 2px 0;
        background-color: var(--color-dark-blue);
        border-radius: 2px;
    }
    .menu-toggle .rec:first-child{
        width: 80%;
    }
    .menu-toggle .rec:last-child{
        width: 80%;
        margin-left: 30%;
    }
    .header_menu_open{
        display: flex;
        height: 300px;
        width: 100%;
        padding: 15px 0;
        transition: all .2s;
    }
    
    .header_menu_open .menu_list li{
        border-bottom: 1px solid #eee;
        padding: 10px;
    }
    .header_menu_open .menu_list li:last-child{
        border-bottom: none;
    }
    
    .sim_left, .sim_right{
        flex-basis: 100%;
    }
    .sim_left h2{
        width: 100%;
        margin: 20px auto 40px;
        text-align: center;
    }

    .first_step, .first_step_top, .first_step_header, .first_step_input_group, .first_step_bottom{
        height: auto;
    }
    .first_step_top_left, .first_step_top_right{
        flex-basis: 100%;
        height: auto;
    }
    .first_step_top_right{
        justify-content: flex-start;
    }
    .img_top{
        width: unset;
        max-width: 180px;
    }
    .first_step_header{
        padding: 20px 0;
    }
    .text_blue, .input_simple, .square, .first_step_bottom_left, .first_step_bottom_right{
        margin: 20px 0;
    }
    .first_step{
        margin-top: 60px;
    }
    
}


@media(max-width: 820px){
    .hero_left, .hero_right{
        flex-basis: 100%;
        padding: 10px;
    }
    .hero_left{
        padding: 40px 10px;
    }
    .hero_right{
        text-align: center;
        padding-bottom: 0;
    }

    .simulador_left{
        display: none;
    }
    .help_float{
        position: fixed;
        left: unset;
        bottom: unset;
        top: 35%;
        right: 0;
        border-radius: 5px 0 0 5px;
        padding: 6px 15px;
    }
    .help_float span{
        display: none;
    }
    .help_float i{
        font-size: 1.5em;
    }
    .help_float:hover{
        transform: unset;
    }
}

@media(max-width: 768px){
    .hero_left_content h1{
        font-size: 2.5em;
    }
    .btn_simulador{
        margin: 40px 0;
    }
    .hero_right img{
        max-width: 100%;
    }
    .form_sim{
        max-width: 700px;
        flex-wrap: wrap;
        border: none;
    }
    .form_group{
        border: 1px solid var(--color-blue);
        overflow: hidden;
        border-radius: 4px;
        width: 100%;
        margin: 10px 0;
    }
    .form_sim .btn_sim{
        width: 100%;
        border-radius: 4px;
    }
    .form_sim input{
        font-size: 1em;
        width: 100%;
    }
    .board_simulador_open{
        margin-top: 0;
    }
    .img_top{
        max-width: 120px;
    }
    .simulador_right{
        width: 100%;
    }
    .board_simulador_content{
        overflow: scroll;
    }

    .title_simulador{
        font-size: 1.6em;
    }
    .text_blue{
        font-size: 1.2em;
    }
    .input_simple input{
        font-size: 1em;
    }
    .text_blue, .input_simple, .square, .first_step_bottom_left, .first_step_bottom_right{
        margin: 10px 0;
    }
    .simulador_right, .top_steps .steps{
        padding: 20px;
    }
    .first_step_bottom_left, .first_step_bottom_right{
        flex-basis: 100%;
    }
    .btn_blue_theme{
        width: 100%;
        margin-bottom: 40px;
    }
    .square{
        width: 300px;
    }
    
}

@media(max-width: 600){

}

@media(max-width: 420px){
    .hero_left_content h1{
        font-size: 1.8em;
    }
    .hero_left_content p{
        font-size: 1em;
    }
    .btn_simulador{
        font-size: 1.2em;
        margin: 40px 0 20px;
    }
    .hero_left{
        padding: 40px 10px 20px;
    }
    .header_logo{
        width: 100px;
    }
    
}

@media(max-width: 380px){

}